# This is a basic workflow that is manually triggered

name: push_to_main
on:
  workflow_dispatch:
    inputs:
       commit_to_public: 
        description: 'This action will automatically update my public repo.'
        default: 'Push Me'
        required: true
        type: string
jobs:
  push_to_public:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source repository.
      uses: actions/checkout@v2

    - name: Debug
      run: |
        echo "ORG_NAME=${{ env.ORG_NAME }}"
        echo "ORIGINAL_REPO_NAME=${{ env.ORIGINAL_REPO_NAME }}"
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}
        ORIGINAL_REPO_NAME: ${{ github.event.repository.name }}
        ORG_NAME: BAR-SPY

    - name: Configure git identity.
      env:
        PAT: ${{ secrets.PAT }}
      run: |
        git config --global user.email "austin@hamrick.xyz"
        git config --global user.name "austin@hamrick.xyz"
        git config --global http.https://github.com/.extraheader \
          "AUTHORIZATION: basic $(printf "x-access-token:${PAT}" | base64 -w 0)"

    - name: Merge repositories.
      env:
        ORIGINAL_REPO_NAME: ${{ github.event.repository.name }}
        ORG_NAME: BAR-SPY
      run: |
        # Clone public repo ( target repo )
        git clone https://github.com/${ORG_NAME}/public.git
        cd public

        # Add private repo.
        git remote add source "https://github.com/${ORG_NAME}/${ORIGINAL_REPO_NAME}.git"

        git ls-remote source -h

        # Fetch and merge
        git fetch source --tags
        git checkout main
        git merge --no-ff source/main -m "Merge ${ORIGINAL_REPO_NAME} into public"
        git push origin main


